.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index:5;
    transition: all 1s;
  }

  .modal-main {
    position:fixed;
    background: white;
    width: 30%;
    height: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    align-items:center;
    justify-content: center;
  }

  .modal-main .closeModal{
    display: flex;
    align-items: center;
    width: 5%;
    justify-content: center;
    position: absolute;
    top:0;
    right: 0;
    margin: 5px;;
    cursor:pointer
  }


  .modal-main .closeModal img{
    width:100%
  }

  .modal-main .info{
    display:flex;
    flex-direction: column;
    height:80%;
    justify-content: center;
    width:80%;
  }

  .buttons-container{
    display:flex;
    width:100%;
    justify-content: space-around;
  }

  .modal-main .info .buttons-container .edit-button{
    display: flex;
    background: black;
    color: white;
    width: 33%;
    font-size: large;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }

  .modal-main .info .info-item{
    display:flex;
    height:8%;
    align-items: baseline;
    margin-left:5%;
    margin-bottom:3%
  }

  .modal-main .info .info-item p{
    margin:0
  }

  .modal-main .form{
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .modal-main .fieldContainer{
    display:flex;
    align-items: baseline;
  }

  .modal-main .form .field{
    border:1px solid gray;
    margin-left:5px;
  }

  .modal-main .form .invalid{
    border:3px solid red
  }


  .modal-main .form .submitButton{
    width: 20%;
    background: black;
    color: white;
    height:8%
  }

  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  